[defaults]
inventory      = ./inventory/main.yml
remote_tmp     = /tmp
forks          = 150
sudo_user      = root
remote_user		 = root
roles_path    = ./roles
host_key_checking = False
log_path = ./log/ansible.log

[privilege_escalation]
#become=True
#become_method=sudo
#become_user=root
#become_ask_pass=False

[ssh_connection]
scp_if_ssh = True
